/* Divi Child Beauvoir - pages HISTOIRE DU SANCTUAIRE, CHAPELLE DE PIERRES, MARCHE ÉVANGÉLIQUE ... */


/* =========================================
                 Conteneurs
========================================= */

.content-section .et_pb_row:not(.subtitle-row) {
    padding-top: 25px;
    padding-bottom: 25px;
}


/* =========================================
                Paragraphes
========================================= */


.content-section .et_pb_text:not(.exception) {
    margin-bottom: 25px;
    hyphens: auto;
    text-align: justify;
    text-justify: inter-character;
}
.content-section .et_pb_text:not(.exception):last-child {
    margin-bottom: 0;
}


/* =========================================
                Sous-titres
========================================= */

.et_pb_row.subtitle-row h2 {
    padding-bottom: 0;
}
.et_pb_row.subtitle-row .et_pb_text:not(.intro) {
    margin-bottom: 30px;
}


/* =========================================
            Images et Légendes
========================================= */


.content-section figure {
    margin: 0 !important;
}
.content-section figcaption {
    color: #bd322c;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: initial !important;
    padding-top: 15px;
    text-align: center;
}
.content-section img {
    box-shadow: 0px 12px 14px -6px rgba(0,0,0,0.3);
}
.content-section .et_pb_image_sticky {
    display: block !important;
}


/* =========================================
               Float Layout
========================================= */


.et_pb_row.with-float-image .et_pb_image {
    margin-bottom: 15px !important;
}
.et_pb_row.with-float-image + .et_pb_row {
    padding-top: 10px;
}



/* =========================================
         Ajustements Écran Mobile
========================================= */


@media only screen and (max-width: 767px) {


    /* Conteneurs
    ------------------ */

    .content-section .et_pb_row:not(.subtitle-row) {
        padding-top: 0;
        padding-bottom: 0;
    }


    /* Paragraphes
    ------------------ */

    .content-section .et_pb_row:not(.subtitle-row) .et_pb_text:last-child{
        margin-bottom: 25px;
    }


    /* Float Layout
    ------------------ */

    .et_pb_row.with-float-image .et_pb_image {
        float: none;
        margin: 15px auto 30px !important;
        width: inherit;
    }


    /* Flex Layout
    ------------------ */

    .et_pb_row.with-float-image .et_pb_column {
        display: flex;
        flex-direction: column;
    }
    .et_pb_column.flex-layout {
        flex-direction: column;
    }
    .et_pb_column.flex-layout .et_pb_image {
        margin-bottom: 20px !important;
        order: -1;
        width: inherit;
    }
    .et_pb_column.flex-layout .et_pb_text {
        text-align: center !important;
    }


}


/* =========================================
         Réglages Divi Builder
========================================= */

.et_pb_module.et_pb_image.et-animated--vb {
    z-index: 99;
}
