/* Divi Child Beauvoir - Pages ACCUEIL - ÉVÉNEMENTS */


/* =========================================
            Propriétés globales
========================================= */


.wcs-timetable__container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
body.et-fb .wcs-timetable__container {
    min-height: auto !important;
}
.wcs-modal__meta,
.wcs-class__time-duration {
    font-size: 20px;
    letter-spacing: 1px;
}
.wcs-addons--blink {
    /* animation: none !important; */
    padding: 0 !important;
}


/* =========================================
              Calendar Layout
========================================= */


/* polices */
.wcs-timetable--monthly-calendar h4.wcs-day__title,
.wcs-timetable--monthly-calendar .wcs-date,
.wcs-timetable--monthly-calendar .wcs-day-agenda .wcs-class__time-duration,
.wcs-timetable--monthly-calendar .wcs-day-agenda h4.wcs-day-agenda__title,
.wcs-timetable--monthly-calendar .wcs-day-agenda h3.wcs-class__title {
    font-family: 'Lato', sans-serif !important;
}
.wcs-timetable--monthly-calendar .wcs-day-agenda h3.wcs-class__title {
    font-size: 24px;
    font-weight: 700;
    color: #444 !important;
    line-height: 1.2em;
}
.wcs-timetable--monthly-calendar .wcs-timetable__main-col h3,
.wcs-timetable--monthly-calendar .wcs-timetable__main-col h4 {
    color: #444;
}
.wcs-calendar__header h3 {
    font-size: 32px !important;
    text-transform: capitalize;
}
.wcs-timetable--monthly-calendar .wcs-day-agenda h4.wcs-day-agenda__title {
    font-size: 26px !important;
    font-weight: 600;
}
.wcs-timetable--monthly-calendar .wcs-day-agenda .wcs-class__excerpt {
    font-size: 17px;
    line-height: 1.4em;
}
.wcs-timetable--monthly-calendar h4.wcs-day__title,
.wcs-timetable--monthly-calendar .wcs-date,
.wcs-timetable--monthly-calendar .wcs-day-agenda .wcs-class__time-duration {
    font-weight: 700;
}
.wcs-timetable--monthly-calendar .wcs-day-agenda .wcs-class__time-duration {
    font-size: 18px !important;
}
/* espacements */
.wcs-timetable--monthly-calendar .wcs-day-agenda h3.wcs-class__title {
    margin-top: 10px !important;
    margin-bottom: 18px !important;
}
.wcs-timetable--monthly-calendar .wcs-calendar__header {
    margin-bottom: 24px !important;
}
.wcs-timetable--monthly-calendar .wcs-class__image + .wcs-class__inner {
    margin-left: 5% !important;
}
.wcs-class__excerpt p {
    padding-bottom: 16px;
}
/* l'agenda */
.wcs-timetable--monthly-calendar.wcs-timetable--side-agenda .wcs-timetable__side-col,
.wcs-timetable--monthly-calendar.wcs-timetable--inside-agenda .wcs-timetable__side-col {
    border: 1px solid #d2d2d2;
}
.wcs-timetable--monthly-calendar .wcs-class__image {
    flex-basis: 22% !important;
    min-width: 80px !important;
}
.wcs-timetable--monthly-calendar .wcs-table-td--full {
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}
.wcs-timetable--monthly-calendar .wcs-day-agenda .wcs-class__image {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}
/* ajustements pour les grands écrans
--------------------------------------------- */
@media only screen and (min-width: 981px) {
    .wcs-timetable--monthly-calendar.wcs-timetable--inside-agenda {
        -webkit-flex-direction: row;
        flex-direction: row;
        margin: 0 -15px;
        position: relative;
    }
    .wcs-timetable--monthly-calendar.wcs-timetable--inside-agenda .wcs-timetable__main-col {
        -webkit-box-flex: 5;
        -webkit-flex-grow: 5;
        flex-grow: 5;
        -webkit-flex-shrink: 1;
        flex-shrink: 1;
        max-width: 100%;
        margin: 0 15px;
    }
    .wcs-timetable--monthly-calendar.wcs-timetable--inside-agenda .wcs-timetable__side-col {
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        -webkit-flex-basis: 35%;
        flex-basis: 35%;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 1;
        flex-shrink: 1;
        position: relative;
        margin: 0 15px;
    }
    .wcs-timetable--monthly-calendar.wcs-timetable--inside-agenda .wcs-timetable__side-col::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.075;
        background-color: currentColor;
        z-index: 0;
    }
    .wcs-timetable--monthly-calendar.wcs-timetable--inside-agenda .wcs-day-agenda {
        padding: 6.5% !important;
    }
    .wcs-timetable--monthly-calendar.wcs-timetable--inside-agenda .wcs-table-tr--full {
        display: none;
    }
}
/* ajustements pour les petits écrans
--------------------------------------------- */
@media only screen and (max-width: 980px) {
    .wcs-timetable--monthly-calendar.wcs-timetable--inside-agenda .wcs-timetable__side-col {
        display: none;
    }
    .wcs-timetable--monthly-calendar .wcs-class__image {
        flex-basis: 18% !important;
    }
    /* jour sélectionné */
    .wcs-timetable--monthly-calendar.wcs-timetable--inside-agenda .wcs-date.wcs-date--selected span::after {
        background-color: #BD322C;
        content: '';
        display: block;
        position: absolute;
        top: -1px;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: auto;
        border-radius: 0;
        z-index: -1;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
        margin-top: 0;
    }
    .wcs-timetable--monthly-calendar.wcs-timetable--inside-agenda .wcs-date--selected::after {
        content: '';
        display: block;
        top: 100%;
        border-left: 1em solid transparent !important;
        border-right: 1em solid transparent !important;
        width: 0;
        height: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        border-top: 15px solid #BD322C;
        position: absolute;
        opacity: 1;
    }

}


/* =========================================
                List Layout
========================================= */

/* polices */
.wcs-timetable__list h3.wcs-class__title,
.wcs-timetable__list .wcs-class__time .wcs-class__inner-flex,
.wcs-timetable__list .wcs-class__time-duration {
    font-family: 'Lato', sans-serif !important;
}
.wcs-timetable__list h3.wcs-class__title {
    color: #444 !important;
    font-weight: 600;
}
.wcs-timetable__list .wcs-class__time .wcs-class__inner-flex {
    font-weight: 700;
}
/* espacements */
ul.wcs-timetable__list,
ul.wcs-timetable__list li {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}
.wcs-timetable--list time.wcs-class__time {
    min-width: 60px;
}
.wcs-timetable--list .wcs-class__meta {
    margin-right: 30px !important;
}
/* bordures et fond */
.wcs-timetable--list .wcs-class {
    background-color: #fff !important;
    border-right: solid 1px #ddd !important;
    border-left: solid 1px #ddd !important;
}
.wcs-timetable__list .wcs-class::after {
    border-top: 1px solid #ddd !important;
    opacity: 1 !important;
}
.wcs-timetable__list .wcs-class:last-child {
    border-bottom: 1px solid #ddd !important;
}
/* bouton EN SAVOIR PLUS */
.wcs-timetable__list .wcs-class .wcs-class__action {
    margin-right: 30px !important;
}
.wcs-btn {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1em !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.wcs-btn::before {
    background-color: #fff !important;
}
.wcs-btn::after {
    opacity: 1 !important;
    border-radius: 5px !important;
    border-color: #ddd !important;
}
/* effets hover */
.wcs-timetable__list .wcs-class::before,
.wcs-timetable__list .wcs-class:hover::before {
    opacity: 0 !important;
}
.wcs-timetable--list .wcs-class,
.wcs-timetable__list .wcs-class .wcs-btn,
.wcs-timetable__list .wcs-class .wcs-btn::after {
    -webkit-transition: all 400ms ease !important;
    -moz-transition: all 400ms ease !important;
    -ms-transition: all 400ms ease !important;
    transition: all 400ms ease !important;
}
.wcs-timetable__list .wcs-class:hover {
    background-color: #f3f3f3 !important;
}
.wcs-timetable__list .wcs-class .wcs-btn:hover {
    color: #111 !important;
}
.wcs-timetable__list .wcs-class:hover .wcs-btn {
    background-color: #fff !important;
}
.wcs-timetable__list .wcs-class .wcs-btn:hover::after {
    border-color: #525252 !important;
}

body.et-fb .wcs-timetable--list .wcs-class__time {
    color: #bd322c !important;
}


/* =========================================
            Cover Layout
========================================= */


.wcs-timetable--cover .wcs-class__title,
.wcs-timetable--cover .wcs-class__time {
    font-family: 'Lato', sans-serif;
}
.wcs-timetable--cover .wcs-class__title {
    font-size: 36px !important;
    font-weight: 700;
    line-height: 1.2em;
}
.wcs-timetable--cover .wcs-class__time {
    font-size: 22px;
}
.wcs-timetable--cover .wcs-class__excerpt {
    font-size: 22px;
}
.wcs-timetable--cover .wcs-class__title,
.wcs-timetable--cover .wcs-class__time,
.wcs-timetable--cover .wcs-class__excerpt {
    text-shadow: 0.08em 0.08em 0.08em rgba(0,0,0,0.4);
}
.wcs-timetable--cover .wcs-class__time-location {
    margin: 20px 0 50px !important;
}
.wcs-timetable__container{
    justify-content: center;
}
.wcs-timetable--cover .wcs-class__content::before {
    background-color: #000 !important;
    opacity: 0.5 !important;
}
.wcs-timetable--cover .wcs-class__action a {
    box-shadow: 0.00em 0.00em 0.8em rgba(0,0,0,0.4) !important;
}
.wcs-timetable--cover.wcs-timetable--cover-overlay-image .wcs-class__image::after {
    opacity: 0 !important;
}
.wcs-timetable--cover.wcs-timetable--cover-overlay-image:hover .wcs-class__image::after {
    opacity: 0.1 !important;
}

@media only screen and (min-width: 768px) {
    .wcs-timetable--cover-position-bottom-center.wcs-timetable--cover-with-image .wcs-class__content {
        left: 50%;
        top: 95%;
        -webkit-transform: translate(-50%, -95%);
        transform: translate(-50%, -95%);
    }

}

@media only screen and (max-width: 767px) {

    .wcs-timetable--cover .wcs-class__title {
        font-size: 24px !important;
        line-height: 1.2em;
    }
    .wcs-timetable--cover .wcs-class__time {
        font-size: 18px;
    }
    .wcs-timetable--cover .wcs-class__time-location {
        margin: 20px 0 30px !important;
    }
    .wcs-timetable--cover .wcs-class__content {
        padding: 30px 20px;
    }

}

body.et-fb .wcs-timetable--cover .wcs-class__content {
    color: #fff !important;
}
body.et-fb .wcs-timetable--cover .wcs-btn--action {
    background-color: #ffffff;
    color: rgba( 0,0,0,0.75);
}


/* =========================================
                Modal Layout
========================================= */


.wcs-modal__meta {
    font-family: 'Lato', sans-serif !important;
    font-weight: 500;
}
.wcs-modal__content {
    color: #444 !important;
    font-size: 18px !important;
}
.wcs-modal__inner p {
    line-height: 1.5em;
    padding-bottom: 22px;
}
.wcs-modal__inner-side h2 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1.2 !important;
    margin-bottom: 0px !important;
    padding-bottom: 20px !important;
}
.wcs-modal--large .wcs-modal__meta li {
    font-size: 20px !important;
    display: inline-flex !important;
    align-items: center;
    margin-right: 20px !important;
    padding-left: 1.7em;
}
.wcs-modal--large .wcs-modal__meta li span {
    line-height: inherit !important;
}
.wcs-modal__content a {
    color: #1f5dea !important;
    text-decoration: underline;
}

@media only screen and (max-width: 767px) {

    .wcs-modal--large .wcs-modal__inner-side {
        background-color: rgba(0, 0, 0, 0.25);
        padding: 40px 20px 20px;
    }
    .wcs-modal--large.wcs-modal--with-image .wcs-modal__side {
        padding-top: 0vh;
    }
    .wcs-modal__inner-side h2 {
        font-size: 30px;
    }
    .wcs-modal--large .wcs-modal__meta li {
        font-size: 20px !important;
    }
    .wcs-modal__content {
        padding: 30px;
    }

}
