/* Divi Child Beauvoir - Pages ACCUEIL - ÉVÉNEMENTS */



/* =========================================
              Calendar Layout
========================================= */


.wcs-timetable--monthly-calendar h4.wcs-day__title,
.wcs-timetable--monthly-calendar .wcs-date,
.wcs-timetable--monthly-calendar .wcs-day-agenda .wcs-class__time-duration,
.wcs-timetable--monthly-calendar .wcs-day-agenda h3.wcs-class__title,
.wcs-timetable--monthly-calendar .wcs-day-agenda h4.wcs-day-agenda__title {
    font-family: 'Lato', sans-serif !important;
}
.wcs-timetable--monthly-calendar .wcs-day-agenda h3.wcs-class__title {
    font-size: 26px;
    font-weight: 700;
    color: #444 !important;
	margin-top: 10px !important;
    margin-bottom: 18px !important;
}


/* =========================================
                List Layout
========================================= */


.wcs-timetable__list h3.wcs-class__title,
.wcs-timetable__list .wcs-class__time .wcs-class__inner-flex,
.wcs-timetable__list .wcs-class__time-duration {
    font-family: 'Lato', sans-serif !important;
}


/* =========================================
            Cover Layout
========================================= */


.wcs-timetable--cover .wcs-class__title,
.wcs-timetable--cover .wcs-class__time {
    font-family: 'Lato', sans-serif;
}
.wcs-timetable--cover .wcs-class__title {
    font-size: 38px !important;
    font-weight: 600;
}
.wcs-timetable--cover .wcs-class__time {
    font-size: 24px;
}
.wcs-timetable--cover .wcs-class__excerpt {
    font-size: 22px;
}
.wcs-timetable--cover .wcs-class__title,
.wcs-timetable--cover .wcs-class__time,
.wcs-timetable--cover .wcs-class__excerpt {
    text-shadow: 0.08em 0.08em 0.08em rgba(0,0,0,0.4);
}
.wcs-timetable--cover .wcs-class__time-location {
    margin: 20px 0 50px !important;
}
.wcs-timetable__container{
    justify-content: center;
}
.wcs-timetable--cover-aspect-169 {
    max-width: 860px;
}
.wcs-timetable--cover .wcs-class__content::before {
    opacity: 0.4 !important;
}


/* =========================================
                Modal Layout
========================================= */


.wcs-vue-modal .wcs-modal__inner-side h2,
.wcs-modal__meta {
    /* font-family: 'Lato', sans-serif !important; */
}
.wcs-modal__inner p {
    line-height: 1.5em;
    padding-bottom: 22px;
}
.wcs-modal__inner-side h2 {
    font-size: 36px;
    line-height: 1.42 !important;
    margin-bottom: 0px !important;
    padding-bottom: 20px !important;
}
.wcs-modal__meta,
.wcs-modal__meta li {
    font-size: 20px !important;
}
.wcs-modal__inner-side {
    /* line-height: 1em !important; */
}
