/* Divi Child Beauvoir - pages HISTOIRE DU SANCTUAIRE, CHAPELLE DE PIERRES, MARCHE ÉVANGÉLIQUE ... */


/* =========================================
            Images et Légendes
========================================= */


#main-content figure {
    margin: 0 !important;
}
#main-content figcaption {
    color: #bd322c;
    font-size: 17px;
    font-style: italic;
    font-weight: 600;
    line-height: initial !important;
    padding-top: 15px;
    text-align: center;
}
#main-content img {
    box-shadow: 0px 12px 14px -6px rgba(0,0,0,0.3);
}


/* =========================================
                Paragraphes
========================================= */


#main-content .et_pb_text:not(.text-aligned-manually) {
    hyphens: auto;
    text-align: justify;
    text-justify: inter-character;
    margin-bottom: 23px !important;
}
#main-content .et_pb_text:not(.text-aligned-manually):last-child {
    margin-bottom: 0 !important;
}


/* =========================================
                Sous-titres
========================================= */


.et_pb_text.subtitle {
    margin-bottom: 0 !important;
}
.et_pb_text.subtitle h2 {
    padding-bottom: 20px;
}


/* =========================================
               Float Layout
========================================= */


#main-content .et_pb_image.float-left {
    float: left;
    margin-right: 60px;
}
#main-content .et_pb_image.float-right {
    float: right;
    margin-left: 60px;
}
#main-content .et_pb_image.float-left,
#main-content .et_pb_image.float-right {
    margin-bottom: 1em;
}


/* =========================================
               Flex Layout
========================================= */


.et_pb_column.flex-layout .et_pb_text {
    margin-bottom: 0;
}
.et_pb_column.flex-layout .et_pb_text p {
    padding-bottom: 30px;
}
.et_pb_column.flex-layout .et_pb_text p:last-child {
    padding-bottom: 0;
}


/* =========================================
         Ajustements Écran Mobile
========================================= */


@media only screen and (max-width: 767px) {


    /* Images (flottante et non flottante)
    -------------------------------------- */




    /* Sous-titres
    ------------------ */

    .subtitle-row .et_pb_text.subtitle {
        /* margin-bottom: 40px; */
    }


    /* Float Layout
    ------------------ */

    #main-content .et_pb_image.float-left,
    #main-content .et_pb_image.float-right {
        float: none;
        width: inherit;
        margin: 25px auto 35px;
    }


    /* Flex Layout
    ------------------ */

    .et_pb_column.flex-layout {
        flex-direction: column;
    }
    .et_pb_column.flex-layout .et_pb_image {
        margin-bottom: 24px !important;
        order: -1;
        width: inherit;
    }
    .et_pb_column.flex-layout .et_pb_text {
        text-align: center !important;
    }


    /* Mobile Flex Layout
    ----------------------- */

    .et_pb_row.mobile-flex-layout .et_pb_column {
        display: flex;
        flex-direction: column;
    }
    #main-content .et_pb_row.mobile-flex-layout .et_pb_image {
        margin: 25px auto 35px;
    }


}


/* =========================================
        Ajustements Écran Tablette
========================================= */


@media only screen and (max-width: 980px) {


    /* Conteneurs
    ------------------ */

    .content-section .et_pb_row {
        /* max-width: 100%; */
    }


    /* Float Layout
    ------------------ */

    .et_pb_image.float-left {
        margin-right: 50px;
    }
    .et_pb_image.float-right {
        margin-left: 50px;
    }


}


/* =========================================
         Réglages Divi Builder
========================================= */


.et_pb_module.et_pb_image.et-animated--vb {
    z-index: 99;
}
