/* Divi Child Beauvoir - pages HISTOIRE DU SANCTUAIRE, CHAPELLE DE PIERRES, MARCHE ÉVANGÉLIQUE ... */


/* =========================================
            Images et Légendes
========================================= */


#main-content img {
    box-shadow: 0px 12px 14px -6px rgba(0,0,0,0.3);
}
.et_pb_text.caption img {
    margin-bottom: 8px;
}
.et_pb_text.caption p {
    color: #bd322c;
    font-size: 17px !important;
    font-style: italic;
    font-weight: 600;
    line-height: 1.4em !important;
    text-align: center !important;
    text-justify: unset !important;
    hyphens: none !important;
}
.caption {
    margin-top: 40px !important;
    margin-bottom: 30px !important;
    margin-left: auto;
    margin-right: auto;
}


/* =========================================
               Introductions
========================================= */


.et_pb_row.intro .et_pb_text {
    text-align: center !important;
    text-justify: unset !important;
    hyphens: none !important;
}


/* =========================================
                Paragraphes
========================================= */


.et_pb_text {
    hyphens: auto;
    text-align: justify;
    text-justify: inter-character;
    margin-bottom: 23px !important;
}
.et_pb_text:last-child {
    margin-bottom: 0 !important;
}


/* =========================================
               Float Layout
========================================= */


.et_pb_text.float-left {
    float: left;
    margin-right: 56px;
}
.et_pb_text.float-right {
    float: right;
    margin-left: 56px;
}
.float-left,
.float-right {
    margin-top: 4px !important;
    margin-bottom: 1em !important;
}


/* =========================================
               Grid Layout
========================================= */


.et_pb_row.grid-image-left .et_pb_column,
.et_pb_row.grid-image-right .et_pb_column {
    display: grid;
    grid-gap: 56px;
    align-items: center;
}
.et_pb_row.grid-image-left .et_pb_column {
    grid-template-columns: auto 1fr;
}
.et_pb_row.grid-image-right .et_pb_column {
    grid-template-columns: 1fr auto;
}
.et_pb_row.grid-image-left .et_pb_image,
.et_pb_row.grid-image-right .et_pb_image,
.et_pb_row.grid-image-left .et_pb_text,
.et_pb_row.grid-image-right .et_pb_text {
    margin-bottom: 0 !important;
}
.et_pb_row.grid-image-left .et_pb_image {
    order: -1;
}
.et_pb_row.grid-image-right .et_pb_image {
    order: 1;
}
.et_pb_row.grid-image-left .et_pb_text {
    text-align: left !important;
    text-justify: unset !important;
    hyphens: none !important;
}
.et_pb_row.grid-image-right .et_pb_text {
    text-align: right !important;
    text-justify: unset !important;
    hyphens: none !important;
}


/* =========================================
               Mise en page
========================================= */


.et_pb_row {
    width: 90%;
}


/* =========================================
        Ajustements Écran Tablette
========================================= */


@media only screen and (max-width: 980px) {


    /* Images et Légendes
    ---------------------- */

    .caption {
        margin-top: 20px !important;
        margin-bottom: 35px !important;
    }


    /* Introductions
    ---------------------- */

    .et_pb_row.intro .et_pb_text {
        max-width: none;
    }


    /* Float Layout
    ------------------ */

    .et_pb_text.float-left {
        float: none;
        margin-right: auto;
    }
    .et_pb_text.float-right {
        float: none;
        margin-left: auto;
    }


    /* Grid Layout
    ------------------ */

    .et_pb_row.grid-image-left .et_pb_column,
    .et_pb_row.grid-image-right .et_pb_column {
        grid-gap: unset;
    }
    .et_pb_row.grid-image-right .et_pb_image {
        order: -1;
    }
    .et_pb_row.grid-image-left .et_pb_image,
    .et_pb_row.grid-image-right .et_pb_image {
        margin-bottom: 20px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .et_pb_row.grid-image-left .et_pb_text,
    .et_pb_row.grid-image-right .et_pb_text {
        margin-bottom: 0 !important;
        text-align: center !important;
        max-width: 460px;
    }


    /* Mise en page pour écrans tablette et mobile
    ------------------------------------------------- */


    #main-content .et_pb_row {
        width: 100%;
        max-width: 100% !important;
    }
    #main-content .et_pb_row .et_pb_column {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
    }
    .et_pb_text {
        width: 88%;
        max-width: 580px;
    }


}


/* =========================================
         Ajustements Écran Mobile
========================================= */


@media only screen and (max-width: 767px) {


    /* Images et Légendes
    ---------------------- */

    .et_pb_text.caption p {
        font-size: 16px !important;
    }


    /* Paragraphes
    ------------------ */

    #main-content .et_pb_text {
        letter-spacing: -0.016em;
    }


}


/* =========================================
         Réglages Divi Builder
========================================= */


.et_pb_module.et_pb_image.et-animated--vb,
.et_pb_module.caption.et-animated--vb {
    z-index: 99;
}
