/* Les couleurs
------------------------------------------------------------------------

rouge      : #BF0404
bleu foncé : #1B3E59 #1f4766 http://www.0to255.com/1B3E59
gris pale  : #D7DADB
gris foncé : #4A4A4A #525252 http://www.0to255.com/4a4a4a
vert-bleu  : #008B83
jaune pale : #FFE9A3

bleu pale de Divi-Den Falkor : #1f5dea (bouton) et #0080ff (titre)
bleu foncé de Divi-Den Falkor : #1f2532

nouveau bleu pale - bouton : #06c
nouveau bleus foncé - menu secondaire : #2d5c88 #235073
nouveau bleus foncé - footer : #0f2332

rouge - calendrier : #BD322C

UPDATE
bleu menu secondaire : #004565  http://www.0to255.com/003954
background titre page : #3b4045 #463f3a #781710 #454545

bleu microsoft : #0067b8 & #005da6 (hover)

*/


/* Réglage des couleurs
------------------------------------------------------------------------ */

/* horaire des célébrations (accueil), en-tête de page ... (gris foncé) */
#page-header,
#horaires-accueil_section,
#horaire-des-messes-toggle {
    background-color: #42494f !important;
}


/* En-tête de page
------------------------------------------------------------------------ */

#page-header h1,
#post-title h1 {
    font-weight: 900 !important;
    letter-spacing: 2px !important;
    padding-bottom: 0px !important;
}
@media only screen and (min-width: 1366px) {
    #page-header h1,
    #post-title h1 {
        font-size: 48px !important;
        line-height: 1em !important;
    }
    #et-main-area #page-header .et_pb_row {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
}
@media only screen and (min-width: 981px) and (max-width: 1365px) {
    #page-header h1,
    #post-title h1 {
        font-size: 44px !important;
        line-height: 1.5em !important;
    }
    #et-main-area #page-header .et_pb_row {
        padding-top: 22px !important;
        padding-bottom: 22px !important;
    }
}
@media only screen and (max-width: 980px) {
    #page-header h1,
    #post-title h1 {
        font-size: 40px !important;
        line-height: 1.2em !important;
    }
    #et-main-area #page-header .et_pb_row {
        padding-top: 25px !important;
        padding-bottom: 25px !important;
    }
    #page-header .et_pb_post_title {
        width: 90% !important;
    }
}
@media only screen and (max-width: 767px) {
    #page-header h1,
    #post-title h1 {
        font-size: 36px !important;
        line-height: 1.2em !important;
    }
    #et-main-area #page-header .et_pb_row {
        padding-top: 20px !important;
        padding-bottom: 18px !important;
    }
}
@media only screen and (max-width: 479px) {
    #page-header h1,
    #post-title h1 {
        font-size: 26px !important;
        line-height: 1.1em !important;
    }
    #et-main-area #page-header .et_pb_row {
        padding-top: 18px !important;
        padding-bottom: 18px !important;
        width: 90%;
        max-width: unset;
    }
}

#page-title {
    margin-bottom: 0 !important;
}


/* Contenu de page
------------------------------------------------------------------------ */

@media only screen and (min-width: 768px) {

    #page-content,
    #events-calendar-section,
    .et_pb_section.tab-content {
        min-height: 780px;
    }

    body.error404 #page-content,
    body.search #page-content {
        min-height: 580px !important;
    }

}

/* ajuste contenu lorsque menu est fixe */
@media only screen and (min-width: 1366px) {

  #main-header.et-fixed-header + #et-main-area {
    position: absolute;
    top: 200px;
    width: 100%;
  }
  body.admin-bar #main-header.et-fixed-header + #et-main-area {
    /* top: calc(200px + 50px); */
  }

}


/* Bouton générique
------------------------------------------------------------------------ */

body #et-main-area #main-content #content-area .my-generic-button.et_pb_button {
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 1em !important;
    padding: 14px 40px !important;
    background: #ffffff !important;
    border-color: #ddd;
    color: #444;
}
body #et-main-area #main-content #content-area .my-generic-button.et_pb_button:hover {
    color: #222;
}


/* Page en construction
------------------------------------------------------------------------ */

#page-under-construction-section h2 {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Lato', sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #444 !important;
}

#page-under-construction-section .et_pb_column_1_3 {
    width: 40%;
    margin-right: 0;
}
#page-under-construction-section .et_pb_column_2_3 {
    width: 60%;
}


/* VERY OLD CSS */


/* En-tête de chaque page
------------------------------------------------------------------------ */

#header-page-section {
  /* overflow: hidden; */
}
body.show-the-page #header-page-content.animated {
  /* animation-name: fadeInRightSmall; */
  /* animation-timing-function: ease-in-out; */
  /* animation-delay: 1s; */
}


/* Boutons
------------------------------------------------------------------------ */

body #main-content #horaires-accueil_section .my-buttons:hover,
body #main-content #evenements-accueil_section .my-buttons:hover,
body #main-content #articles-accueil_section .my-buttons:hover {
  /* opacity: .7; */
}


/* Page ACCUEIL
------------------------------------------------------------------------ */

/* enlève le margin sous chaque article */
#articles-accueil-contenu_row article.et_pb_post {
  /* margin-bottom: 0; */
}

/* ajustements du texte sous l'image */
#articles-accueil-contenu_row .post-content > p:first-child {
  /* color: #525252 !important; */
}
#articles-accueil_section .post-content a.more-link {
  /* text-transform: none !important; */
  /* color: #BF0404 !important; */
}

/* limite à deux lignes l'extrait de l'article */
.ds-limit-excerpt .post-content p {
  /* display: block; */
  /* height: 3em; */
  /* max-height: 3em; */
  /* width: 100%; */
  /* overflow: hidden; */
}

/* ajuste largeur de l'extrait sous l'image */
.ds-limit-excerpt .post-content {
    /* width: 100%; */
}


/* Page ÉVÉNEMENTS
------------------------------------------------------------------------ */

body.show-the-page #events-calendar-row.animated {
  /* animation-name: fadeInUpSmall; */
  /* animation-timing-function: ease-in-out; */
  /* animation-delay: 1s; */
}


/* Page HORAIRES
------------------------------------------------------------------------ */

body.show-the-page #horaires-section .horaire-row.eucharistie.animated {
  /* animation-name: fadeInUpSmall; */
  /* animation-timing-function: ease-in-out; */
  /* animation-delay: 1s; */
}
body.show-the-page #horaires-section #dates-horaires-row.animated {
  /* animation-name: fadeIn; */
  /* animation-timing-function: ease-out; */
  /* animation-delay: 1.9s; */
  /* animation-duration: 0.6s; */
}
body.show-the-page #horaires-section .horaire-row.chapelle.animated,
body.show-the-page #horaires-section .horaire-row.bureau.animated,
body.show-the-page #horaires-section .horaire-row.magasin.animated {
  /* animation-name: fadeInUpSmall; */
  /* animation-timing-function: ease-in-out; */
  /* animation-delay: 0.2s; */
}


/* Page FAIRE UN DON
------------------------------------------------------------------------ */

body.show-the-page #formulaire-don.animated {
  /* animation-name: fadeInUpSmall; */
  /* animation-timing-function: ease-in-out; */
  /* animation-delay: 1s; */
}


/* Page NOUS JOINDRE
------------------------------------------------------------------------ */

body.show-the-page #adresse-formulaire-row.animated {
  /* animation-name: fadeInUpSmall; */
  /* animation-timing-function: ease-in-out; */
  /* animation-delay: 1s; */
}
body.show-the-page #google-maps-row.animated {
  /* animation-name: fadeInUpSmall; */
  /* animation-timing-function: ease-in-out; */
  /* animation-delay: 0.2s; */
}


/* Réglages de boutons
------------------------------------------------------------------------ */

/*
#backtoblog {
    display: none;
}
#login input#wp-submit {
    background-color: #0077ee !important;
    border-color: #0077ee !important;
}
#login input#wp-submit:hover {
  background-color: #1F5DEA;
}
#login #nav a,
#login #backtoblog a,
#login #login_error,
#login .error,
#login .message {
    color: #444 !important;
}
*/
