# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules
.npm-debug.log
tmp

# ignore language directories
wp-content/themes/divi-child-beauvoir/lang/*
