/* Propriétés globales
------------------------------------------------------------------------ */

/* espacement autour de paragraphes et conteneurs */
blockquote p {
  padding-bottom: 30px;
}
blockquote p:last-child {
  padding-bottom: 0;
}
.horaire-row .et_pb_promo_description {
  padding-bottom: 10px !important;
}

/* ajuste affichage des images */
.horaire-row img {
  object-fit: cover;
  object-position: center;
  width: 100% !important;
}
.horaire-row .et_pb_column_1_2:first-child,
.horaire-row .et_pb_column_1_2:last-child {
  padding-left: 0 !important;
}

/* ajuste espacement dates et bouton format liste */
.wcs-timetable--list time.wcs-class__time {
  width: 80px;
}

/* ajuste couleur background et contours format liste */
.wcs-timetable--list .wcs-class {
  background-color: #fff;
  border-right: solid 1px #ddd;
  border-left: solid 1px #ddd;
}
.wcs-timetable__list .wcs-class::after {
  border-top: 1px solid #ddd;
  opacity: 1;
}
.wcs-timetable__list .wcs-class:last-child {
  border-bottom: 1px solid #ddd;
}

/* ajuste bouton EN SAVOIR PLUS format liste */
.wcs-timetable__list .wcs-class .wcs-class__action {
  margin-right: 30px;
}
.wcs-btn {
  font-size: 100%;
}
.wcs-btn::after {
  opacity: 1;
  border-color: #ccc;
}

/* ajuste effet hover format liste */
.wcs-timetable__list .wcs-class::before,
.wcs-timetable__list .wcs-class:hover::before {
  opacity: 0 !important;
}
.wcs-timetable--list .wcs-class,
.wcs-timetable__list .wcs-class .wcs-btn {
  -webkit-transition: background-color 400ms ease !important;
  -moz-transition: background-color 400ms ease !important;
  -ms-transition: background-color 400ms ease !important;
  transition: background-color 400ms ease !important;
}
.wcs-timetable__list .wcs-class:hover {
  background-color: rgba(0,0,0,0.05);
}
.wcs-timetable__list .wcs-class:hover .wcs-btn {
  background-color: #fff;
}
.wcs-timetable__list .wcs-class .wcs-btn:hover {
  color: #303030;
}
.wcs-timetable__list .wcs-class .wcs-btn:hover::after {
  border-color: #747474;
}

/* Corrections CSS de Falkor
------------------------------------------------------------------------ */

@media only screen and (min-width: 1930px) {

  .horaire-row .et_pb_column_1_2:first-child {
    padding-left: 0 !important;
  }
  .content_1_f .et_pb_column_1_2 .et_pb_image,
  .content_1_f .et_pb_column_1_2 .et_pb_image img,
  .content_1_f .et_pb_column_1_2 .et_pb_image .et_pb_image_wrap {
    height: 100% !important;
  }

}

/* Break point pour version grand écran
------------------------------------------------------------------------ */

@media only screen and (min-width: 1366px) {

  /* espacement autour des blocs de texte */
  #horaires-section .horaire-row .texte-gauche,
  #horaires-section .horaire-row .texte-droite {
    padding: 50px 70px !important;
  }

  /*** Hauteur des blocs d'horaire ***/

  /* eucharistie */
  #horaires-section .horaire-row.eucharistie {
    /* height: 414px; */
  }

  /* chapelle de pierres, église */
  #horaires-section .horaire-row.chapelle {
    /* height: 402px; */
  }

  /* bureau */
  #horaires-section .horaire-row.bureau {
    /* height: 414px; */
  }

  /* magasin */
  #horaires-section .horaire-row.magasin {
    /* height: 414px; */
  }

}

/* Break point pour écrans de 1390px et moins
------------------------------------------------------------------------ */

@media all and (max-width: 1390px) {

  /* ajuste largeur et espacement de différents blocs */
  #horaires-section .horaire-row {
    max-width: 1175px !important;
  }
  #horaires-section #dates-horaires-row > .et_pb_column {
    padding: 0 !important;
  }
  #horaires-section .horaire-row .et_pb_column.image-gauche {
    padding: 0 !important;
  }
  #horaires-section .horaire-row .et_pb_column.texte-gauche,
  #horaires-section .horaire-row .et_pb_column.texte-droite {
    padding: 50px 65px !important;
  }

}

/* Break point pour écrans de 1090px et moins
------------------------------------------------------------------------ */

@media all and (max-width: 1090px) {

  /* ajuste espacement blocs texte */
  #horaires-section .horaire-row .et_pb_column.texte-gauche,
  #horaires-section .horaire-row .et_pb_column.texte-droite {
    padding: 40px 60px !important;
  }

}

/* Break point pour versions mobile et tablette
------------------------------------------------------------------------ */

@media all and (max-width: 980px) {

  /* efface blocs image */
  #horaires-section .horaire-row .et_pb_column.image-droite,
  #horaires-section .horaire-row .et_pb_column.image-gauche {
    display: none;
  }
  /* ajuste blocs texte */
  #horaires-section .horaire-row,
  #horaires-section .horaire-row .et_pb_column.texte-droite,
  #horaires-section .horaire-row .et_pb_column.texte-gauche {
    min-width: 300px !important;
    max-width: 500px !important;
    box-sizing: border-box;
  }

}

/* Break point pour versions mobile et petite tablette
------------------------------------------------------------------------ */

@media all and (max-width: 767px) {

  /* ajuste taille police des dates */
  #dates-horaires-row p {
    line-height: 30px;
    font-size: 22px;
  }

}

/* Break point pour version mobile portrait
------------------------------------------------------------------------ */

@media all and (max-width: 480px) {

  /* ajuste police et espacement autour blocs texte */
  blockquote p {
    font-size: 16px !important;
  }
  #dates-horaires-row .et_pb_module {
    padding-left: 0 !important;
  }
  #horaires-section .horaire-row .et_pb_column.texte-gauche,
  #horaires-section .horaire-row .et_pb_column.texte-droite {
    padding: 30px 40px !important;
  }
  #horaires-section blockquote {
    padding-left: 30px !important;
  }

}
