/* Propriétés globales
------------------------------------------------------------------------ */

/* largeur du bouton NOUS JOINDRE */
#my-footer #contact-btn,
#my-footer #contact-btn:hover {
  padding: 10px 51px !important;
}

/* couleurs et position bouton NOUS JOINDRE */
#my-footer #contact-btn {
  background-color: #06c !important;
  border-color: #06c !important;
}
#my-footer #contact-btn:hover {
  background-color: rgba(0,102,204,0.7) !important;
  border-color: rgba(0,102,204,0.7) !important;
}
#my-footer #contact-column .et_pb_button_module_wrapper {
  margin-top: 40px;
  text-align: left;
}

/* ajuste et positionne les médias sociaux */
#my-social-icons .et_pb_promo_description h2 + p {
  display: none;
}
#my-footer #my-social-icons .et_pb_promo_description {
  display: flex;
  flex-direction: column;
}
#my-footer #my-social-icons .et_social_icons_container {
  display: flex;
  flex-wrap: wrap;
}
#my-footer #my-social-icons li {
    margin-bottom: 0 !important;
}
#my-footer #my-social-icons li:last-child {
    margin-right: 0 !important;
}
@media all and (max-width: 980px) {
  /* centre les médias sociaux */
  #my-footer #my-social-icons .et_pb_promo_description {
    align-items: center;
  }
  #my-footer #my-social-icons .et_social_icons_container {
    justify-content: center;
  }
}

/* enlève zone sans texte au-dessus du formulaire RECEVOIR NOTRE BULLETIN */
#my-footer .et_bloom_form_header {
  padding: 0;
}

/* ajustements du formulaire RECEVOIR NOTRE BULLETIN */
#my-footer .et_bloom_optin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#my-footer .et_bloom_form_content {
  padding: 6px 0px !important;
}
#my-footer .et_bloom_form_content .et_bloom_button_text {
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-size: 14px;
  font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif !important;
}

/* crée une grille pour colonne LIENS UTILES */
#useful-links-column .et_pb_promo_description {
  display: grid;
}

/* Adapte effets hover sur versions mobile et tablette
------------------------------------------------------------------------ */

@media only screen and (max-width: 980px) {

  /* liens */
  .footer_1_f .five-columns .et_pb_promo:not(:last-child) a:hover::before {
    width: 0px !important;
  }

}

/* Break point pour grande tablette et plus
------------------------------------------------------------------------ */

@media only screen and (min-width: 981px) {

  /* largeur de colonne SERVICES */
  #my-footer #services-column {
    width: 22% !important;
    margin-right: 2% !important;
  }

  /* largeur de colonne LIENS UTILES (la grille) */
  #my-footer #useful-links-column {
    width: 44% !important;
    margin-right: 2% !important;
  }

  /* largeur colonne RECEVOIR NOTRE BULLETIN */
  #my-footer #bulletin-column {
    width: 30% !important;
  }

  /* positionne les médias sociaux */
  #my-footer #my-social-icons .et_pb_promo_description {
    align-items: start;
  }
  #my-footer #my-social-icons .et_social_icons_container {
    justify-content: space-between;
  }

  /* largeur de colonne SUIVEZ-NOUS */
  #my-footer #my-social-icons {
    width: 176.25px !important;
  }

}

/* Break point pour versions mobile et tablette
------------------------------------------------------------------------ */

@media only screen and (max-width: 980px) {

  /* ajuste espacement titre et liens SERVICES et LIENS UTILES */
  .footer_1_f .five-columns .et_pb_promo a {
    padding-top: 10px;
  }
  .et_pb_cta_0.et_pb_promo .et_pb_promo_description h2 {
    padding-bottom: 13px;
  }

  /* ajuste espacement sous formulaire RECEVOIR NOTRE BULLETIN */
  #my-footer #links-row .et_pb_column {
    margin-bottom: 0 !important;
  }
  #my-footer #bulletin-column .et_pb_promo_description {
    padding-bottom: 0 !important;
  }

  /* centre les colonnes COORDONNÉES, NOUS JOINDRE et SUIVEZ-NOUS */
  #my-footer #address-column,
  #my-footer #contact-column,
  #my-footer #follow-us-column {
    width: 100% !important;
    margin-right: 0 !important;
  }
  #follow-us-column #my-social-icons {
    width: 100% !important;
  }
  #my-footer #address-column .et_pb_module,
  #my-footer #contact-column .et_pb_button_module_wrapper {
    text-align: center;
  }

  /* ajuste espacement autour bouton NOUS JOINDRE */
  #my-footer #contact-column .et_pb_button_module_wrapper {
    margin-top: 0;
  }
  #my-footer #contact-column {
    margin-bottom: 60px !important;
  }

  /* ajuste largeur bouton NOUS JOINDRE */
  #my-footer #contact-column #contact-btn {
    padding: 10px 100px !important;
  }

  /* ajuste espacement sous colonne COORDONNÉES */
  #my-footer #address-column .et_pb_promo_description p:last-child {
    padding-bottom: 10px;
  }

  /* ajuste espacement sous colonne SUIVEZ-NOUS */
  #my-footer #follow-us-column {
    margin-bottom: 0 !important;
  }
  #follow-us-column #my-social-icons .et_pb_promo_description {
    padding-bottom: 0 !important;
  }

}

/* Break point pour version tablette
------------------------------------------------------------------------ */

@media only screen and (min-width: 768px) and (max-width: 980px) {

  /* largeur de colonne SERVICES */
  #my-footer #services-column {
    width: 34% !important;
    margin-right: 2%;
  }

  /* largeur de colonne LIENS UTILES (la grille) */
  #my-footer #useful-links-column {
    width: 64% !important;
    margin-right: 0;
  }

  /* largeur colonne RECEVOIR NOTRE BULLETIN */
  #my-footer #bulletin-column {
    width: 50% !important;
  }

}

/* Break point pour tablette et plus
------------------------------------------------------------------------ */

@media only screen and (min-width: 768px) {

  /* transforme la grille liens utiles en 2 colonnes */
  #useful-links-column .et_pb_promo_description {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(3, 1fr);
    grid-auto-flow: column;
  }
  #useful-links-column .et_pb_promo_description h2 {
    grid-column: 1 / 3;
  }

}

/* Break point pour versions mobile et petite tablette
------------------------------------------------------------------------ */

@media all and (max-width: 767px) {

  /* centre les colonnes SERVICES, LIENS UTILES et RECEVOIR NOTRE BULLETIN */
  #my-footer #services-column,
  #my-footer #useful-links-column,
  #my-footer #bulletin-column {
    width: 100% !important;
    text-align: center !important;
  }
  #my-footer #services-column {
    margin-right: 0 !important;
  }
  #my-footer #bulletin-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #my-footer #bulletin-column .et_pb_promo_description {
    width: 80%;
  }

}

/* Ajustements mineurs pour écrans de 1390px et moins
------------------------------------------------------------------------ */

@media only screen and (max-width: 1390px) {
  #my-footer #copyright-row {
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 5%;
    padding-right: 5%;
  }
  #my-footer #links-row,
  #my-footer #contact-row {
    max-width: 1175px !important;
  }
}
@media only screen and (max-width: 480px) {
  #my-footer #links-row {
    width: 90% !important;
  }
  #my-footer #copyright-row > .et_pb_column {
    margin-bottom: 0 !important;
  }
}
