/* Propriétés globales
------------------------------------------------------------------------ */

/* ajuste espacement autour du calendrier */
#events-calendar-row .et_pb_tab {
  padding: 0px 0 0 0 !important;
}
#events-calendar-row {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* efface ligne sous les onglets CALENDRIER et LISTE */
#events-calendar-row .et_pb_tabs_controls::after {
  display: none;
}

/* couleurs de fond et contour onglet par défaut */
#events-calendar-row .et_pb_tabs_controls li {
  background-color: #dadada !important;
  border: 2px solid #d2d2d2;
}
/* couleur de police onglet par défaut */
#events-calendar-row .et_pb_tabs_controls li a {
  color: #666 !important;
}

/* couleur de police onglet sélectionné */
#events-calendar-row .et_pb_tabs_controls .et_pb_tab_active a {
  color: #666 !important;
}
/* couleur de fond onglet sélectionné */
#events-calendar-row .et_pb_tabs_controls .et_pb_tab_active {
  background-color: white !important;
}

/* ajuste border des onglets */
#events-calendar-row .et_pb_tabs_controls li:first-child {
  border-radius: 4px 0 0 4px;
  border-right-width: 1px;
}
#events-calendar-row .et_pb_tabs_controls li:last-child {
  border-radius: 0 4px 4px 0;
  border-left-width: 1px;
}

/* position et taille du libellé FORMAT D'AFFICHAGE */
#format-affichage-evenements {
  font-size: 26px;
  margin-right: 60px;
}

/* position libellé FORMAT D'AFFICHAGE, onglets CALENDRIER/LISTE et contenu */
#events-calendar-row .et_pb_tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
#events-calendar-row .et_pb_tabs .et_pb_all_tabs {
  flex: 1 1 100%;
}

/* Annule les animations sur versions mobile, tablette et petit écran
------------------------------------------------------------------------ */

@media only screen and (max-width: 1365px) {

  #main-header,
  #header-page-section,
  #header-page-section section.et_pb_fullwidth_header,
  #events-calendar-row {
    -webkit-animation-duration: initial !important;
    animation-duration: initial !important;
    -webkit-animation-delay: 0ms !important;
    animation-delay: 0ms !important;
  }

}

/* Break point pour versions mobile et tablette
------------------------------------------------------------------------ */

@media all and (max-width: 980px) {

  /* taille libellé FORMAT D'AFFICHAGE */
  #format-affichage-evenements {
    font-size: 24px;
  }

  /* ajuste espacement autour du calendrier */
  #events-calendar-row .et_pb_tab {
    /* padding: 40px 0 0 0 !important; */
  }

}

/* Break point pour versions mobile et petite tablette
------------------------------------------------------------------------ */

@media all and (max-width: 767px) {

  /* ajuste libellé FORMAT D'AFFICHAGE, onglets CALENDRIER/LISTE et contenu */
  #events-calendar-row .et_pb_tabs {
    align-items: unset;
    flex-direction: column;
  }
  .et_pb_tabs_controls {
    width: 100%;
    display: flex !important;
    margin-top: 20px;
  }
  .et_pb_tabs_controls li {
    display: table !important;
  }
  .et_pb_tabs_controls li {
    width: 50%;
  }
  .et_pb_tabs_controls li a {
    text-align: center;
    padding: 4px 0 4px !important;
  }
  #format-affichage-evenements {
    font-size: 22px;
    margin-right: 0;
    text-align: center;
  }
  #events-calendar-row .et_pb_tabs_controls li {
    min-height: auto !important;
    height: auto !important;
  }

}

/* Break point pour versions mobile landscape et petite tablette
------------------------------------------------------------------------ */

@media only screen and (min-width: 480px) and (max-width: 767px) {

  /* ajuste affichage du calendrier */
  .wcs-timetable--monthly-calendar .wcs-calendar__header {
    margin-bottom: 2em;
    flex-wrap: nowrap;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  .wcs-timetable--monthly-calendar .wcs-calendar__header > div:first-of-type {
    order: 0;
  }
  .wcs-timetable--monthly-calendar .wcs-calendar__header h3 {
    flex-basis: 70%;
    order: 1;
  }

}

/* Break point pour version mobile portrait
------------------------------------------------------------------------ */

@media all and (max-width: 479px) {

  /* taille libellé FORMAT D'AFFICHAGE */
  #format-affichage-evenements {
    font-size: 20px;
  }

}

/* corrige opacité du triangle pointant vers l'événement */
.wcs-timetable--monthly-calendar.wcs-timetable--inside-agenda:not(.wcs-timetable--highligh-round) .wcs-date--selected::after {
  opacity: 1;
}
