/* Propriétés globales
------------------------------------------------------------------------ */

/* empêche la page d'apparaitre avant les animations */
body {
  opacity: 0;
  transition: opacity 0.6s ease-out 0.4s;
}
body.show-the-page {
  opacity: 1;
}

/* Bouton back to top
------------------------------------------------------------------------ */

.et_pb_scroll_top {
  animation-duration: 0.7s !important;
}
.et_pb_scroll_top.et-visible {
  -webkit-animation: fadeInBottom 1s 1 cubic-bezier(.77,0,.175,1);
  -moz-animation: fadeInBottom 1s 1 cubic-bezier(.77,0,.175,1);
  -o-animation: fadeInBottom 1s 1 cubic-bezier(.77,0,.175,1);
  animation: fadeInBottom 1s 1 cubic-bezier(.77,0,.175,1);
}
.et_pb_scroll_top.et-hidden {
  -webkit-animation: fadeOutBottom 1s 1 cubic-bezier(.77,0,.175,1);
  -moz-animation: fadeOutBottom 1s 1 cubic-bezier(.77,0,.175,1);
  -o-animation: fadeOutBottom 1s 1 cubic-bezier(.77,0,.175,1);
  animation: fadeOutBottom 1s 1 cubic-bezier(.77,0,.175,1);
}

/* Menu fixe - version grand écran
------------------------------------------------------------------------ */

@media only screen and (min-width: 1366px) {

  /* affiche menu fixe  */
  #main-header.et-fixed-header.fixed-header-in {
    animation-name: slideInDown;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1)
  }

  /* cache menu fixe  */
  #main-header.et-fixed-header.fixed-header-out {
    animation-name: slideOutUp;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1)
  }

}

/* En-tête de chaque page
------------------------------------------------------------------------ */

#header-page-section {
  overflow: hidden;
}
#header-page-content.animated {
  animation-name: fadeInRightSmall;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
}

/* Page ACCUEIL
------------------------------------------------------------------------ */

/* sections ÉVÉNEMENTS À VENIR et ARTICLES DE NOTRE BLOGUE */
#evenements-accueil_section #evenements-accueil-titre_row.animated,
#articles-accueil_section #articles-accueil-titre_row.animated {
  animation-name: fadeInUpSmall;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
}
#evenements-accueil_section #evenements-accueil-contenu_row.animated,
#articles-accueil_section #articles-accueil-contenu_row.animated {
  animation-name: fadeInUpSmall;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
}
#evenements-accueil_section #evenements-accueil-bouton_row.animated,
#articles-accueil_section #articles-accueil-bouton_row.animated {
  animation-name: bounceIn;
  animation-timing-function: ease-in-out;
  animation-duration: 0.7s;
  animation-delay: 0.8s;
}

/* section PAGES À VOIR */
#pages-a-voir_section .et_pb_column .page-a-voir_module.animated {
  /* animation-name: bounceInRightSmall; */
  animation-name: fadeInRight;
  animation-timing-function: ease-in-out;
}
#pages-a-voir_section .et_pb_column:nth-child(1) .page-a-voir_module.animated {
  animation-delay: 0.9s;
}
#pages-a-voir_section .et_pb_column:nth-child(2) .page-a-voir_module.animated {
  animation-delay: 1.2s;
}
#pages-a-voir_section .et_pb_column:nth-child(3) .page-a-voir_module.animated {
  animation-delay: 1.5s;
}
#pages-a-voir_section .et_pb_column:nth-child(4) .page-a-voir_module.animated {
  animation-delay: 1.8s;
}

/* Pages EN CONSTRUCTION
------------------------------------------------------------------------ */

#page-under-construction-section.animated {
  animation-name: fadeInUpSmall;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
}

/* Page ÉVÉNEMENTS
------------------------------------------------------------------------ */

#events-calendar-row.animated {
  animation-name: fadeInUpSmall;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
}

/* Page NOUS JOINDRE
------------------------------------------------------------------------ */

#adresse-formulaire-row.animated {
  animation-name: fadeInUpSmall;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
}
#google-maps-row.animated {
  animation-name: fadeInUpSmall;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
}

/* Page TOUS LES HORAIRES
------------------------------------------------------------------------ */

#horaires-section .horaire-row.eucharistie.animated {
  animation-name: fadeInUpSmall;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
}
#horaires-section #dates-horaires-row.animated {
  animation-name: fadeIn;
  animation-timing-function: ease-out;
  animation-delay: 1.8s;
  animation-duration: 0.6s;
}
#horaires-section .horaire-row.chapelle.animated,
#horaires-section .horaire-row.bureau.animated,
#horaires-section .horaire-row.magasin.animated {
  animation-name: fadeInUpSmall;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
}
