/*** Take out the divider line between content and sidebar ***/
#main-content .container:before {background: none;}

body.single-class article {
  margin-bottom: 58px !important;
}

body.single-class #sidebar {
  display: none;
}

/*** Expand the content area to fullwidth ***/
@media (min-width: 981px){
  body.single-class #left-area {
    width: 100%;
    padding: 0 !important;
    float: none !important;
  }
}

/* redimentionne l'image
--------------------------------------------------------------- */

.et_post_meta_wrapper:first-child {
  max-width: 1175px;
  max-height: 430px;
  overflow: hidden;
}

article.type-class img {
  width: 100%;
  object-position: 0px -90px;
}

@media only screen and (max-width: 767px) {

  article.type-class img {
    object-position: 0px 0px;
  }

}
