/*
Theme Name:     Beauvoir
Theme URI:      https://www.elegantthemes.com/gallery/divi/
Description:    Divi Child Theme
Author:         Philippe Normandin
Author URI:     http://www.philippenormandin.com
Template:       Divi
Version:        4.5.0
Text Domain:    divi-child-beauvoir
Domain Path:    /lang
GitHub Theme URI: https://github.com/PhilipNormandin/divi-child-beauvoir
*/


/* Les couleurs
------------------------------------------------------------------------

bleu foncé - menu secondaire : #004f75 https://colorable.jxnblk.com/ffffff/004f75 (contrast 8.84)
gris foncé - background : #42494f https://colorable.jxnblk.com/ffffff/42494f (contrast 9.14)
bleu foncé - footer - background : #0f2332
bleu pale - footer - titres : #0080ff
bleu pale - footer - bouton : #0066cc & #0055aa (hover)
bleu pale - bouton back to top : #0077ee & #1F5DEA (hover)
gris foncé - titres : #444
rouge - logo : #BF0404
rouge - calendrier : #bd322c

*/


/* Icons et Polices
------------------------------------------------ */

@font-face {
    font-family: "icomoon";
    src: url("fonts/icomoon.woff");
}


/* Divers ajustements
------------------------------------------------ */

.et_mobile_menu {
	overscroll-behavior: contain;
}
@media only screen and (min-width: 1366px) {
	.et_builder_inner_content > div:first-child#avis-important {
		margin-top: 0 !important;
	}
}
body.wp-admin #loftloader-wrapper #loader,
body.et-fb #loftloader-wrapper #loader,
body.et-fb header.et-l--header,
body.et-fb #my-footer {
    display: none !important;
}
.dsm_text_divider .dsm-text-divider-wrapper {
    justify-content: center;
}


/* Traduction du "Share This" de Monarch par "Partager"
------------------------------------------------------------- */
/* https://wpmarmite.com/snippet/traduire-share-this-monarch/ */

html:lang(fr) .et_social_heading {
	font-size: 0!important;
}
html:lang(fr) .et_social_heading::before {
	content: "Partager cet article";
	font-size: 16px !important;
}


/* Break point pour version grand écran
------------------------------------------------------------------------ */

@media only screen and (min-width: 1366px) {


}

/* Break point pour versions mobile, tablette et petit écran
------------------------------------------------------------------------ */

@media only screen and (max-width: 1365px) {


}

/* Break point pour versions grande tablette et petit écran
------------------------------------------------------------------------ */

@media only screen and (min-width: 981px) and (max-width: 1365px) {


}

/* Break point pour versions mobile et tablette
------------------------------------------------------------------------ */

@media only screen and (max-width: 980px) {


}

/* Break point pour version tablette
------------------------------------------------------------------------ */

@media only screen and (min-width: 768px) and (max-width: 980px) {


}

/* Break point pour versions mobile et petite tablette
------------------------------------------------------------------------ */

@media only screen and (max-width: 767px) {


}

/* Break point pour versions mobile landscape et petite tablette
------------------------------------------------------------------------ */

@media only screen and (min-width: 480px) and (max-width: 767px) {


}

/* Break point pour version mobile portrait
------------------------------------------------------------------------ */

@media all and (max-width: 479px) {


}


/* =============================
          Espacements
============================= */

.et_pb_module.et_pb_text h1,
.et_pb_module.et_pb_text h2,
.et_pb_module.et_pb_text h3,
.et_pb_module.et_pb_text h4,
.et_pb_module.et_pb_text h5,
.et_pb_module.et_pb_text h6 {

}
