/* Propriétés globales
------------------------------------------------------------------------ */

/* largeur du bouton NOUS JOINDRE */
#my-footer #contact-btn,
#my-footer #contact-btn:hover {
  padding: 10px 51px !important;
}

/* positionner les social icons */
#my-footer #my-social-icons .et_pb_promo_description {
  display: flex;
  flex-direction: column;
}
#my-footer #my-social-icons .et_social_icons_container {
  display: flex;
  flex-wrap: wrap;
}
#my-footer #liens-row #my-social-icons li:last-child {
    margin-right: 0 !important;
}

#my-footer .et_bloom_form_header  {
  padding: 0;
}

/* positionner et styler le formulaire d'abonnement */
#my-footer .et_bloom_optin  {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#my-footer .et_bloom_form_content {
  padding: 10px 0px !important;
}
#my-footer .et_bloom_form_content .et_bloom_button_text  {
  text-transform: uppercase;
  /* letter-spacing: 0.75px; */
  font-size: 14px;
  font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif !important;
}

/* Break point pour version grand écran
---------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 1366px) {

  #my-footer .colonne-liste {
    width: 22% !important;
  }

  #my-footer #my-social-icons {
    width: 176.25px !important;
  }

  #my-footer #my-social-icons .et_pb_promo_description {
    align-items: start;
  }
  #my-footer #my-social-icons .et_social_icons_container {
    justify-content: space-between;
  }

}

/* Break point pour versions mobile, tablette et petit écran
---------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1365px) {

}

/* Break point pour version mobile de moins de 600px
---------------------------------------------------------------------------------------------- */

@media all and (max-width: 599px) {

  .footer_1_f .five-columns .et_pb_promo.et_pb_module {
    width: 100% !important;
    margin-right: 0 !important;
    text-align: center !important;
  }

  #my-footer #my-social-icons .et_pb_promo_description {
    align-items: center;
    padding-bottom: 0 !important;
  }
  #my-footer #my-social-icons .et_social_icons_container {
    justify-content: center;
  }

}

/* Break point pour versions mobile et tablette de moins de 840px - coordonnées
---------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 839px) {

  #my-footer #contact-row .et_pb_column {
    width: 100% !important;
    margin-right: 0 !important;
    float: none;
  }

  #my-footer #contact-row .et_pb_promo_description,
  #my-footer #contact-row .et_pb_button_module_wrapper {
    text-align: center;
  }

  #my-footer #contact-row .et_pb_button_module_wrapper {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  #my-footer #contact-row .et-last-child {
    margin-bottom: 0 !important;
  }

}

/* Break point pour versions mobile et tablette entre 600px et 839px - liens
---------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 600px) and (max-width: 839px) {

  #my-footer #liens-row .colonne-liste:nth-child(3) {
    margin-bottom: 0 !important;
  }

  #my-footer #liens-row .colonne-liste:nth-child(3) .et_pb_promo_description {
    padding-bottom: 0 !important;
  }

}

/* Break point pour version tablette entre 768px et 839px - liens
---------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 839px) {

  #my-footer #liens-row .et_pb_promo.et_pb_module {
    width: 48% !important;
    margin-right: 4% !important;
  }

  #my-footer #liens-row .et_pb_promo.et_pb_module:nth-child(2n+2) {
    margin-right: 0 !important;
  }

}

/* Break point pour version tablette entre 840px et 980px - coordonnées
---------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 840px) and (max-width: 980px) {

  #my-footer #contact-row .et_pb_column {
    margin-bottom: 0 !important;
  }

  #my-footer #contact-row .et_pb_promo_description {
    padding-bottom: 0 !important;
  }

  #my-footer #my-social-icons .et_pb_promo_description {
    padding-bottom: 0 !important;
  }

}

/* Break point pour version tablette entre 840px et 1060px - liens
---------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 840px) and (max-width: 1060px) {

  #my-footer #liens-row .et_pb_promo.et_pb_module:nth-child(1),
  #my-footer #liens-row .et_pb_promo.et_pb_module:nth-child(2) {
    width: 32% !important;
    margin-right: 2% !important;
  }

  #my-footer #liens-row .et_pb_promo.et_pb_module:nth-child(3) {
    width: 32% !important;
    margin-right: 0 !important;
  }

  #my-footer #my-social-icons {
    width: 32% !important;
    margin-right: 2% !important;
    float: left !important;
  }

}

/* Break point pour versions tablette et petit écran entre 1061px et 1365px - liens
---------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 1061px) and (max-width: 1365px) {

  #my-footer #liens-row .et_pb_promo.et_pb_module:nth-child(1),
  #my-footer #liens-row .et_pb_promo.et_pb_module:nth-child(2) {
    width: 23% !important;
  }

  #my-footer #liens-row .et_pb_promo.et_pb_module:nth-child(3) {
    width: 24% !important;
  }

  /* les social icos s'alignent bien avec un minimum de 4 */
  #my-footer #my-social-icons {
    width: 176.25px !important;
  }

  #my-footer #my-social-icons {
    width: 177px !important;
  }

  #my-footer #liens-row .et_pb_promo_description {
    padding-bottom: 0 !important;
  }

}

/* Break point pour versions mobile, tablette et petit écran - ajustements mineurs
---------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1390px) {

  #my-footer #copyright-row {
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 5%;
    padding-right: 5%;
  }

}
