/* Propriétés globales
---------------------------------------------------------------------------- */
/* retire un peu de padding */
.horaire-row .et_pb_promo_description {
  padding-bottom: 0 !important;
}
/* affichage de l'image */
.horaire-row img {
  object-fit: cover;
  max-width: 100% !important;
}

/* écrase certaines propriétés de falkor */
@media all and (max-width: 1390px) {
  #page-container .horaire-row {
    max-width: 1175px !important;
  }
  #page-container .horaire-row .et_pb_column.image-gauche {
    padding: 0 !important;
  }
  #page-container .content_1_f .horaire-row .texte-gauche,
  #page-container .content_1_f .horaire-row .texte-droite {
    padding: 50px 65px !important;
  }
}

/* ajustements mineurs */
@media all and (max-width: 1090px) {
  #page-container .content_1_f .horaire-row .texte-gauche,
  #page-container .content_1_f .horaire-row .texte-droite {
    padding: 30px 30px 30px 40px !important;
  }
}
/* ajuste éléments pour versions tablette et mobile */
@media all and (max-width: 980px) {
  #horaires-dates {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  #page-container .horaire-row .image-droite,
  #page-container .horaire-row .image-gauche {
    display: none;
  }
  #page-container .horaire-row,
  #page-container .horaire-row .texte-droite,
  #page-container .horaire-row .texte-gauche {
    min-width: 300px !important;
    max-width: 600px !important;
    margin-bottom: 0 !important;
    box-sizing: border-box;
  }
  #page-container .horaire-row:last-child {
    margin-bottom: 40px !important;
  }
  .grid {
   width: 90%;
   margin: auto;
   display: grid;
   grid-row-gap: 40px;
   grid-template-columns: minmax(300px,1fr);
 }
}
@media all and (max-width: 480px) {
  #page-container .content_1_f .horaire-row .texte-gauche,
  #page-container .content_1_f .horaire-row .texte-droite {
    padding: 30px 20px 30px 30px !important;
  }
  blockquote p {
    font-size: 16px !important;
  }
}
/* ajuste taille police des dates */
@media all and (max-width: 767px) {
  #horaires-dates p {
    line-height: 30px;
    font-size: 22px;
  }
}
