/* Propriétés globales
---------------------------------------------------------------------------- */

/* couleur de certains textes */
.contact_1_falkor .et_pb_contact_form p:not([data-type="checkbox"]):not([data-type="radio"]) label,
#contact-phone-fax a {
  color: #6b6b6b !important;
}

/* largeur du module des médias sociaux */
#social-icons-in-contact-page {
  width: 176.25px !important;
}

/* répartie les icones */
#social-icons-in-contact-page .et_social_icons_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#social-icons-in-contact-page .et_social_icons_container > li {
  margin-right: 0 !important;
}

/* ajuste largeur colonnes adresse et formulaire */
@media only screen and (min-width: 981px) and (max-width: 1365px) {
  #adresse-formulaire-section .et_pb_column:nth-child(1) {
    width: 33.666% !important;
  }
  #adresse-formulaire-section .et_pb_column:nth-child(2) {
    width: 60.833% !important;
  }
}

/* ajuste largeur et position des sections */
@media all and (max-width: 980px) {
  #adresse-formulaire-section > .et_pb_row,
  #google-maps-section > .et_pb_row {
    width: 90% !important;
  }
  #adresse-formulaire-section .et_pb_column:nth-child(1) .et_pb_module {
    margin-right: 0 !important;
  }
  #adresse-formulaire-section .et_pb_column:nth-child(1) {
    display: flex;
    justify-content: space-between;
  }
  #copyright-in-contact-page,
  #copyright-row > .et_pb_column {
    margin-bottom: 0 !important;
  }
}

/* ajuste position de certains modules */
@media all and (max-width: 767px) {
  #adresse-formulaire-section .et_pb_column:nth-child(1) {
    flex-direction: column;
    align-items: center;
  }
  #adresse-formulaire-section .et_pb_column:nth-child(1) .et_pb_promo_description {
    padding-bottom: 10px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #adresse-formulaire-section .et_pb_column:nth-child(1) .et_pb_promo_description > p {
    text-align: center;
  }
  #adresse-formulaire-section .et_pb_column:nth-child(1) .et_pb_module {
    max-width: 100% !important;
  }
}
