/* Propriétés globales
---------------------------------------------------------------------------- */

/* ajuste la padding autour du calendrier */
#events-calendar-row .et_pb_tab {
  padding: 50px 0 0 0 !important;
}
#events-calendar-row {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* efface ligne sous onglets */
#events-calendar-row .et_pb_tabs_controls::after {
  display: none;
}

/* onglet par défaut */
#events-calendar-row .et_pb_tabs_controls li {
  color: #1f4766 !important;
  border: 2px solid #1f4766;
}/* onglet par défaut */
#events-calendar-row .et_pb_tabs_controls li a {
  color: #1f4766 !important;
}

/* arrondie et ajuste border de chaque côté */
#events-calendar-row .et_pb_tabs_controls li:first-child {
  border-radius: 4px 0 0 4px;
  border-right-width: 1px;
}
#events-calendar-row .et_pb_tabs_controls li:last-child {
  border-radius: 0 4px 4px 0;
  border-left-width: 1px;
}

/* couleur de police onglet sélectionné */
#events-calendar-row .et_pb_tabs_controls .et_pb_tab_active a {
  color: white !important;
}
/* couleur de fond onglet sélectionné */
#events-calendar-row .et_pb_tabs_controls .et_pb_tab_active {
  background-color: #1f4766;
}

/* position du libellé et onglets */
#events-calendar-row .et_pb_tabs::before {
  position: relative;
  top: 10px;
  font-size: 26px;
  margin-right: 60px;
}
#events-calendar-row .et_pb_tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
#events-calendar-row .et_pb_tabs .et_pb_all_tabs {
  flex: 1 1 100%;
}
@media all and (max-width: 767px) {
  #events-calendar-row .et_pb_tabs {
    flex-direction: column;
  }
  .et_pb_tabs_controls {
    width: 100%;
    display: flex !important;
    margin-top: 40px;
  }
  .et_pb_tabs_controls li {
    display: table !important;
  }
  .et_pb_tabs_controls li {
    width: 50%;
  }
  .et_pb_tabs_controls li a {
    text-align: center;
    padding: 4px 0 4px !important;
  }
}

/* corrige opacité du triangle pointant vers l'événement */
.wcs-timetable--monthly-calendar.wcs-timetable--inside-agenda:not(.wcs-timetable--highligh-round) .wcs-date--selected::after {
  opacity: 1;
}
