/* Propriétés globales
---------------------------------------------------------------------------- */

/* image d'en-tête sur page d'accueil */
.ds-fw-header {
  min-height: 50vh;
  height: 80vh;
  background-position: left 29%;
}

/* horaire des messes à l'horizontal
----------------------------------------------------------- */

#horaires-section-desktop-test .et_pb_column_0 {
  width: auto;
  margin-right: 0;
}

#horaires-section-desktop-test .et_pb_column_1 {
  max-width: 600px;
  min-width: 460px;
  width: 40%;
  margin-right: 0;
}

#horaires-section-desktop-test .et_pb_column_1 .et_pb_module {
  margin-bottom: 0;
  line-height: 1.5;
}

#horaires-section-desktop-test .et_pb_column_2 {
  width: auto;
}

#horaires-section-desktop-test .et_pb_row.et_pb_row_0::after {
  display: none !important;
}

#horaires-section-desktop-test > .et_pb_row,
#horaires-section-desktop-test .et_pb_column_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#horaires-section-desktop-test > .et_pb_row {
  padding: 14px 0 !important;
}

/* horaire des messes à la vertical
----------------------------------------------------------- */

#horaires-section-mobile .et_pb_row {
  padding-top: 8px;
  padding-bottom: 20px;
}

#horaires-section-mobile #horaire-des-messes-toggle {
  margin-bottom: 0 !important;
}

#horaires-section-mobile h2.et_pb_toggle_title {
  padding: 0 !important;
}

#horaires-section-mobile .et_pb_toggle_open h2.et_pb_toggle_title::before,
#horaires-section-mobile .et_pb_toggle_close h2.et_pb_toggle_title::before {
  display: none;
}

#horaires-section-mobile h2.et_pb_toggle_title::after {
  font-family: ETmodules !important;
  content: "\33" !important;
  font-size: 40px !important ;
  display: inline-block;
  position: relative;
  top: 9px;
  right: -9px;
}

#horaires-section-mobile .et_pb_button_module_wrapper {
  text-align: center !important;
}

/* https://www.needyesterday.com/4-snippet-for-the-toggle-module/ */

#horaires-section-mobile .toggle_custom .et_pb_toggle_title::after {
    transition: 0.3s;
}

#horaires-section-mobile .toggle_custom.et_pb_toggle_open .et_pb_toggle_title::after {
    transform: rotate(180deg);
    transform-origin: 52% 59%;
}

/* Break point pour écrans de 1090px et moins
---------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1090px) {

  /* affiche section horaire version mobile */
  #horaires-section-mobile {
    display: block !important;
  }

  /* cache section horaire version desktop */
  #horaires-section-desktop-test {
    display: none !important;
  }

  /* largeur section horaire - mobile */
  #horaires-section-mobile > .et_pb_row {
    width: 96% !important;
  }

}

/* Break point pour écrans de plus de 1090px
---------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 1091px) {

  /* section horaire version desktop s'affiche par défaut dans cette largeur */
  /* section horaire version mobile se cache par défaut dans cette largeur */

}

/* Break point pour écrans de 1390px et moins - ajustements pour layout Falkor
---------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1390px) {

  /* largeur section horaire - desktop */
  #horaires-section-desktop-test > .et_pb_row {
    width: 96% !important;
    max-width: none !important;
  }

}

/* Break point pour écrans de plus de 1390px - ajustements pour layout Falkor
---------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 1391px) {

  /* largeur section horaire - desktop */
  #horaires-section-desktop-test > .et_pb_row {
    width: 90% !important;
    max-width: 1375px !important;
  }

}

/* Break point pour version mobile portrait
---------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 479px) {

  .ds-fw-header {
    min-height: calc(60vh - 90px);
    height: calc(60vh - 90px);
    background-position: 45% 29%;
    background-size: 230%;
  }

}

/* Break point pour versions mobile landscape et tablette
---------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 480px) and (max-width: 980px) {

  .ds-fw-header {
    min-height: calc(60vh - 90px);
    height: calc(60vh - 90px);
    background-position: 65% 27%;
    background-size: 160%;
  }

}

/* Break point pour versions tablette et petit écran
---------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 981px) and (max-width: 1365px) {

  .ds-fw-header {
    min-height: calc(60vh - 90px);
    height: calc(60vh - 90px);
    background-position: 65% 27%;
    background-size: 100%;
  }

}
