/* Menu principal - sous-menu - liens */
#site-header-bv #primary-menu-bv li li a {
  color: #555 !important;
  font-size: 15px !important;
}

/* ==============================
     Formulaire de recherche
============================== */

#site-header-bv .search-form-bv {
  border: none;
}
#site-header-bv .search-form-bv .et_pb_searchform {
  display: flex;
	align-items: center;
}
#site-header-bv .search-form-bv,
#site-header-bv .search-form-bv .et_pb_searchform {
	height: 36px;
}
#site-header-bv .search-form-bv .et_pb_searchform::before {
  content: '\55';
  position: absolute;
  font-family: 'ETModules';
  font-size: 18px;
  color: #444;
  right: 15px;
  z-index: 1;
}
#secondary-menu-bv .search-form-bv input.et_pb_s {
  width: 220px;
}
#site-header-bv .search-form-bv input.et_pb_searchsubmit {
  display: block !important;
  background: transparent;
  color: transparent;
  border: none;
  padding: 0 !important;
  width: 48px;
  z-index: 2;
}
#site-header-bv .search-form-bv input.et_pb_s {
    padding-right: 48px !important;
}

/* ==================================
         Menu - Grand Écran
================================== */

@media only screen and (min-width: 1366px) {

  /* Masquer-Montrer des éléments */
  .tablet-secondary-menu {
    display: none;
  }

  /* Espace entre les liens */
  nav.et-menu-nav > ul > li {
    padding-left: 15px !important;
		padding-right: 15px !important;
  }
  #polylang-switcher,
  #secondary-links-area .search-form-bv {
  	margin: 0 0 0 30px !important;
	}

  /* Menu principal / Logo
  ------------------------------- */

  /* Largeur des sous-menus */
  #primary-menu-bv .et-menu-nav > ul > li > ul,
  #primary-menu-bv .et-menu-nav > ul > li > ul > li,
  #primary-menu-bv .et-menu-nav > ul > li > ul > li > a {
    width: 290px;
  }
  #primary-menu-bv .nav li li ul {
    left: 290px;
  }
  #primary-menu-bv .nav li li ul > li,
  #primary-menu-bv .nav li li ul > li > a {
    width: inherit;
  }

  /* Menu - Liens */
  #primary-menu-bv nav.et-menu-nav > ul > li > a {
    padding-top: 30px !important;
		padding-bottom: 30px !important;
  }

  /* Sous-menu */
  #primary-menu-bv li ul {
    padding: 0 !important;
    box-shadow: 0 6px 9px rgba(0,0,0,0.3) !important;
    text-align: center !important;
  }
  #primary-menu-bv .et-menu-nav > ul > li > ul.sub-menu {
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, 0) !important;
    top: calc(100% - 0px) !important;
  }

  /* Sous-menu - Liste */
  #primary-menu-bv li li {
    padding: 0;
  }

  /* Sous-menu - Liens */
  #primary-menu-bv li li a {
    text-transform: none !important;
    padding: 12px 20px;
    border-bottom: 1px solid #D7DADB;
  }
  #site-header-bv #primary-menu-bv li li a:hover {
    color: #333 !important;
    background-color: #ebebeb;
    opacity: 1;
  }

  /* Menu secondaire / Formulaire de recherche / Langue
  ----------------------------------------------------- */

  /* Disposition des éléments */
  #secondary-links-area .et_pb_column {
    display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		max-width: 1200px;
    width: 100%;
		margin: 0 auto !important;
    float: unset;
  }

}

/* ==========================================================
     Menu hamburger - Petit Écran, Tablette et Téléphone
========================================================== */

@media only screen and (max-width: 1365px) {

  /* Masquer-Montrer des éléments */
	#primary-menu-bv .et_pb_menu__menu,
  #secondary-links-area {
    display: none;
	}
	#primary-menu-bv .et_mobile_nav_menu {
    display: flex;
    float: none;
    margin: 0 6px;
    align-items: center;
	}

  /* Hauteur et Position - Entête et Menu */
  header.et-l--header {
    position: fixed !important;
    width: 100%;
    z-index: 9999;
  }
  #primary-menu-bv .et_pb_menu_inner_container {
    height: 90px;
  }
   #primary-menu-bv .et_mobile_menu {
		top: 90px;
  }
  body.admin-bar #primary-menu-bv .et_mobile_menu {
    top: calc(90px + 32px);
  }
  #et-main-area {
    padding-top: 90px;
  }

  /* Disposition des éléments - Entête */
  #site-header-bv #primary-links-area {
    max-width: 100%;
    padding: 0 !important;
  }
  #primary-menu-bv .et_pb_menu_inner_container {
    height: 90px;
    display: flex;
    flex-direction: row;
		align-items: center;
    justify-content: space-between;
  }
  #primary-menu-bv .et_pb_menu_inner_container .et_pb_menu__logo-wrap {
    margin-left: 20px;
    padding: 8px 16px;
  }
  #primary-menu-bv .et_pb_menu_inner_container > .et_pb_menu__logo-wrap a img {
    max-height: 74px !important;
  }
  #primary-menu-bv a.mobile_nav {
    margin-right: 20px;
  }
  #primary-menu-bv .et_pb_menu_inner_container .et_pb_menu__wrap {
    flex: initial !important;
    order: 2;
  }
  .tablet-secondary-menu {
    display: flex;
    justify-content: space-around;
    padding: 0 !important;
    margin-left: auto;
    margin-right: 3%;
    min-width: 25%;
  }
  .tablet-secondary-menu > li {
    padding: 10px 20px;
	}

  /* Disposition des éléments - Menu */
  #primary-menu-bv .et_mobile_menu {
    max-width: 600px;
		left: unset;
		right: 0;
    bottom: 0px;
    padding: 15px 0;
		float: none;
		position: fixed;
		overflow-y: scroll;
  }
  .et_mobile_menu .search-form-bv {
    padding: 15px 30px;
		height: auto !important	;
  }
  .et_mobile_menu .search-form-bv .et_pb_searchform > div,
  .et_mobile_menu .search-form-bv input.et_pb_s {
    width: 100% !important;
  }
  .et_mobile_menu .search-form-bv input.et_pb_s {
    border: 2px solid #aaa;
		border-radius: 6px;
		padding-left: 20px !important;
  }
  #primary-menu-bv .et_mobile_menu .lang-item-first {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #primary-menu-bv .et_mobile_menu .lang-item > a {
    border-bottom: none;
  }
  #primary-menu-bv .et_mobile_menu > .menu-item-has-children > a {
    padding: 16px 30px;
  }
  #primary-menu-bv .et_mobile_menu > li:not(.menu-item-has-children) a,
  #primary-menu-bv .et_mobile_menu > .menu-item-has-children .sub-menu a {
    padding: 12px 30px;
  }
  #primary-menu-bv .et_mobile_menu > .menu-item-has-children .sub-menu {
    padding-bottom: 0;
    padding-left: 0;
  }
  #primary-menu-bv .et_mobile_menu li a,
  #primary-menu-bv .et_mobile_menu .search-form-bv {
    margin-left: 5%;
    margin-right: 5%;
  }

  /* Ajustements police */
  #primary-menu-bv .et_mobile_menu > li:not(.menu-item-has-children) a,
  #primary-menu-bv .et_mobile_menu > .menu-item-has-children .sub-menu a {
    font-size: 15px !important;
  }
  .tablet-secondary-menu a {
    font-size: 16px !important;
  }

  /* Divers ajustements */
  #site-header-bv,
	#primary-menu-bv .et_mobile_menu {
  	box-shadow: 0 3px 6px rgba(0,0,0,0.3) !important;
  }
	#primary-menu-bv .mobile_nav.opened .mobile_menu_bar::before {
    content: '\4d';
	}
  #site-header-bv #primary-menu-bv .et_mobile_menu > .menu-item-has-children > a,
  #site-header-bv #primary-menu-bv .et_mobile_menu > .menu-item-has-children > a:hover{
    background-color: #3368AD;
    color: #fff !important;
	}
	#primary-menu-bv .et_mobile_menu > .menu-item-has-children {
  	background-color: #3368AD;
	}
  #primary-menu-bv .et_mobile_menu li a:hover {
    background-color: unset;
    opacity: 1;
	}

}

/* ===============================================
     Menu hamburger - Petit Écran et Tablette
=============================================== */

@media only screen and (min-width: 768px) and (max-width: 1365px) {

  /* Masquer-Montrer des éléments */
  #primary-menu-bv .et_mobile_nav_menu .events-page-link,
	#primary-menu-bv .et_mobile_nav_menu .schedules-page-link{
    display: none;
  }

}

/* =================================
     Menu hamburger - Téléphone
================================= */

@media only screen and (max-width: 767px) {

  /* Masquer-Montrer des éléments */
  .tablet-secondary-menu {
    display: none;
  }

  /* Hauteur et Position - Entête et Menu */
  #primary-menu-bv .et_pb_menu_inner_container {
    height: 70px;
  }
  #primary-menu-bv .et_mobile_menu {
    max-width: unset;
		top: 70px;
  }
  body.admin-bar #primary-menu-bv .et_mobile_menu {
    top: calc(70px + 46px);
  }
  #et-main-area {
    padding-top: 70px;
  }

  /* Disposition des éléments */
  #primary-menu-bv .et_pb_menu_inner_container > .et_pb_menu__logo-wrap a img {
    max-height: 64px !important;
  }
  #primary-menu-bv .et_mobile_menu li a,
  #primary-menu-bv .et_mobile_menu .search-form-bv {
    margin-left: 2%;
    margin-right: 2%;
  }

}

/* =============================
       Divers ajustements
============================= */

#site-header-bv ul {
  list-style-type: none;
}
.menu-item-has-children > a:hover {
  cursor: pointer;
}
.et_pb_menu a:hover {
  opacity: 1;
}
body:not(.logged-in) .langue,
body.admin-bar .langue {
  display: none !important;
}
#menu-polylang-switcher {
  flex-flow: row nowrap !important;
}
